<p id="notice"><%= notice %></p>

<p>
  <strong>Corretora:</strong>
  <%= @corretora.corretora %>
</p>

<p>
  <strong>Ativo:</strong>
  <%= @corretora.ativo %>
</p>

<%= link_to 'Edit', edit_corretora_path(@corretora) %> |
<%= link_to 'Back', corretoras_path %>
